:root {
    --font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    --primary-color: #0154AA;
    --secondary-color: #F2F4F7;
    --text-color-dark: #333333;
    --text-color: #737A91;
    --text-color-light: #585D6E;
    --bg-color: #ffffff;
    --border-color: #E0E0E0;
    --card-radius: 8px;
    --hr-color: #E9ECEF;
    --card-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    --card-padding: 16px;
    --card-margin: 16px;
    --card-radius: 8px;
    --search-box-bg: #F6F9FF;
}
@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('fonts/NeueHaasDisplayBlack.woff2') format('woff2'),
       url('fonts/NeueHaasDisplayBlack.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--text-color);
    line-height: 1.6;
}
img {
    object-fit: cover;
}

.navbar {
    background: var(--bg-color);
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    height: 70px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box-wrapper {
    display: flex;
    border-radius: 8px;
    background-color: #F6F9FF;
    padding: 6px 20px;
}
.search-box-icon {
    display: flex;
}
.search-box-icon img{
    /* width: 15px;
    height: 15px; */
}

.search-box-wrapper input {
    padding: 0;
    border: none;
    background-color: var(--search-box-bg);
}

.navbar nav a {
    margin: 0 10px;
    font-size: 16px;
    font: 500;
    color: var(--text-color);
    text-decoration: none;
}

.navbar nav a :hover {
    color: var(--primary-color)
}
.navbar nav a.active {
    color: var(--primary-color);
    font-weight: bold;
}

.search-box {
    border: none;
    padding: 0 10px;
}

.resume-btn {
    background: var(--primary-color);
    color: var(--border-color);
    padding: 8px 16px;
    border: none;
    border-radius: var(--card-radius);
}

.container {
    display: flex;
    padding: 20px 16px;
}

.sidebar {
    width: 260px;
    background: var(--bg-color);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
}

.profile-card {
    text-align: center;
    margin-bottom: 20px;
}
.profile-cover{
    height: 100px;
    border-radius: 16px 16px 0px 0px;
}
.profile-cover img{
    height: 100px;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.profile-info {
    top: -40px;
    position: relative;
}
.user-details {
    padding: 16px;
}
.user-name {
    color: var(--text-color-dark);
    font-weight: 600;
}
.user-info {
    color: var(--text-color-dark);
    font-weight: 500;
    font-size: 14px;
}
.user-location {
    color: var(--text-color-light);
    font-size: 12px;
}
.avatar {
    width: 40px;
    height: 40px;
    background: gray;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--bg-color);
}

.avatar.large {
    width: 80px;
    height: 80px;
    margin: auto;
}

.stats {
    padding: 16px;
    list-style: none;
    margin-top: 20px;
}

.stats li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 14px;
    color: var(--text-color-dark);
    font-weight: 500;
}
.stats span {
    color: var(--primary-color);
    font-weight: 500;
}
.custom-hr {
  border: none;
  height: 1px;
  background-color: var(--hr-color);
}

.calendar-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 16px 0;
}
.calendar-info strong {
    color: var(--text-color-dark);
    font-weight: 600;
    font-size: 16px;
}
.calendar-info p {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
}

.calendar-dropdown {
    display: flex;
    align-items: center;
    padding-right: 11px;
}

.main-content {
    flex-grow: 1;
    margin-left: 32px;
}

.search-section {
    margin-bottom: 24px;
}
.search-section h2 {
    color: var(--text-color-dark);
    font-weight: 600;
    font-size: 22px;
}
.search-section h2 span {
    color: var(--primary-color);
}
.search-section p {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
}

.search-bar {
    display: flex;
    gap: 12px;
    margin-top: 16px;
    background-color: var(--bg-color);
    padding: 16px;
    border-radius: 10px;
}
.vertical-line {
  width: 1px;
  height: 30px;
  background-color: #E9ECEF;
  margin: 0 16px;
}
.search-bar input {
    width: 40%
}
.search-bar select {
    width: 20%
}
.search-bar button {
    width: 10%
}
.search-bar input,
.search-bar select {
    padding: 8px;
    border: none;
    color: var(--text-color-light);
}

.search-bar button {
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: var(--card-radius);
}

.tags p {
    font-size: 14px;
    margin-right: 8px;
    display: inline-block;
}
.tags span {
    background: var(--secondary-color);
    padding: 4px 10px;
    border-radius: 5px;
    margin-right: 8px;
    display: inline-block;
    margin-top: 12px;
    border: 1px solid var(--text-color);
    font-size: 12px;
    font-weight: 500;
}

.job-section {
    margin: 10px 0px 20px 0px
}

.section-header {
    display: flex;
    gap: 15px;
    align-items: center;
}

.section-header h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-dark)
}

.section-header a {
    color: var(--primary-color);
    font-weight: 500;
}

.job-grid {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 16px;
}

.job-card {
    background: var(--bg-color);
    padding: 16px;
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    width: 220px;
}
.job-details {
    display: flex;
}
.job-details h4 {
    font-weight: 500;
    color: var(--text-color-dark);
    font-size: 14px;
}
.job-details p {
    font-weight: 500;
    color: var(--text-color-dark);
    font-size: 12px;
}
.job-details img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
.job-location, .job-post-time {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color-light);
    gap: 10px;
    margin-left: 10px;
}
.job-post-time a {
    color: var(--primary-color)
}
.job-card .promoted {
    font-size: 10px;
    font-weight: 600;
    color: var(--text-color-dark);
}
.job-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.job-actions button {
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: var(--card-radius);
    font-size: 12px;
    width: 70%;
}
.bookmark-icon {
    margin: 5px
}